#history {
    background: url("../../res/imgs/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 1;

    &:after {
        z-index: -1;
        background: linear-gradient(23deg, black 0%, rgba(5, 11, 21, 0.85) 100%);
        top: 0px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
    }
}

.history-content {
    width: 100%;
    padding: 15px;
    h2 {
        margin-left: 30px;
        color: #fff;
        font-size: 32px;
        font-weight: 400;
        width: 215px;
    }

    .no-data {
        color: white;
        text-align: center;
        margin-top: 30px;
    }
    
    table {
        border-collapse: collapse;
        margin-top: 30px;
        width: 100%;
        thead {
            tr {
                margin: 8px 0;
                text-align: left;
                th {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    opacity: .32;
                }
            }
        }

        tbody {
            color: #fff;
            position: relative;
            background-color: hsla(0,0%,100%,.04);
            border: 2px solid hsla(0,0%,100%,.08);
            border-radius: 8px;
            bottom: 0;
            content: "";
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            tr {
                height: 54px;
                margin: 16px 0;
                text-align: left;
                z-index: 1;
                td {
                    font-size: 18px;
                    line-height: 20px;
                    padding: 5px 10px;

                    .server-icon {
                        width: 38px;
                        height: 38px;
                        border-radius: 50%;
                    }
                   
                    a {
                        color: #66aa18;
                        text-decoration: none;
                        &:hover {
                            color: #76c31c;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 426px) {
    
    .history-content {
        width: 100%;
        padding: 15px 0;
        h2 {
            font-size: 17px;
            line-height: 24px;
            margin-left: 0;
            order: 1;
            width: auto;
        }

        table {
            border-collapse: collapse;
            margin-top: 20px;
            width: 100%;
            thead {
                tr {
                    margin: 8px 0;
                    th {
                        color: #fff;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }

            tbody {
                border: 1px solid hsla(0,0%,100%,.08);
                border-radius: 8px;
                tr {
                    height: 36px;
                    margin: 8px 0;
                    text-align: left;
                    z-index: 1;
                    td {
                        font-size: 12px;
                        line-height: 16px;
                        padding: 3px 6px;

                        .server-icon {
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                        }
                  
                    }
                }
            }
        }
    }
}